.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: auto;
  background-color: rgb(231, 247, 247);
  /* background-image: url('assets/images/loginBg.jpg'); */

  .AppContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    height: 96vh;
    /* max-width: 400px; */
  }
}